<p-toolbar>
    <div class="p-toolbar-group-start">
        <p>POKEDEX APP</p>
    </div>

    <div class="p-toolbar-group-center">
        <a routerLink="/dex" style="text-decoration: none;">
            <p-button styleClass="p-button-primary">Com Framework de Componentes (PrimeNG)</p-button>
        </a>
        <a routerLink="/no-prime-dex" style="text-decoration: none;">
            <p-button styleClass="p-button-primary">Sem Framework de Componentes</p-button>
        </a>
    </div>
</p-toolbar>
